# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# IDE
.idea
nbproject

# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

config/database.js
frontend/**/src/config/config.js

public/profile-pic/*
!/public/profile-pic/.gitkeep
