<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password pf-demo</title>
</head>
<body>
    <div>
        <form id="data_password" action="" method="POST" onsubmit="return validate()"></form>
        <p><input placeholder="Password" name="password" id="password" type="password" form="data_password"></p>
        <p><input type="submit" value="Change password" form="data_password"></p>
    </div>
</body>
</html>

<script>
    function validate() {
        if (document.getElementById('password').value.toString().length >= 6) {
            document.getElementById('data_password').action = window.location.href.toString();
            return true;
        }
        else {
            alert('Password must be at least 6 characters');
            return false;
        }
    }
</script>