body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
  background-color: #f5f8fa;
}
@font-face{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSansLight.ttf');
  font-style: normal;
  font-weight: 300;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a {
  color: #3db895;
}
a:hover {
  color: #308f70;
}

.navbar-nav > li .btn-link {
  padding: 10px 15px;
}
#app-content-container {
  padding-top: 20px;
  padding-bottom: 30px;
}
#notify{
  background: url(../images/notify-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 17px;
  margin-top: 2px;
  position: relative;
}
#notify span{
  background-color: #47e2ce;
  width: 13px;
  height: 13px;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  font-size: 10px;
  left: -8px;
  top: 8px;
  line-height: 13px;
  color: #fff;
}
.centered-rows-table.table td {
  vertical-align: middle;
}
.coinmarket_inner {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.coinmarketcap-currency-widget {
  width: 100%;
  max-width: 600px;
}
.footer-menu {
  padding: 0;
  list-style: none;
}
ul.footer-menu a {
  color: #aaa;
}
.bir-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.bir-list a {
  overflow: hidden;
  border: 1px solid #dedede;
  box-shadow: 0 0 1px #dedede;
  width: 150px;
  margin: 5px 0;
}
.bir-list a img {
  transform: scale(1);
  filter: grayscale(0%);
  transition: all 0.3s ease;
}
.bir-list a:hover img {
  transform: scale(1.1);
  filter: grayscale(70%);
}
.firstscreen_market > h4 {
  font-size: 18px;
  margin: 5px 10px;
  font-weight: bold;
}

.wrap {
  background: url(../images/content-bg.jpg);
}
.bg-gray{
  background-color: #ececed;
  box-shadow: 0 4px 15px 1px rgba(172, 172, 172, 0.75);
  z-index: 5;
}
.navbar-brand img {
  height: 35px;
}
a.nav-link{
  color:#333;
}
.navbar-dark .navbar-nav .nav-link {
  color: #555;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #222;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #222;
}
.ml-auto .b-nav-dropdown{
  margin-left: 0;
}
.ml-auto .dropdown-toggle::after {
  border-top: 0.2em solid;
  border-right: 0.2em solid transparent;
  border-left: 0.2em solid transparent;
  position: relative;
  top:2px;
}

li.nav-item {
  margin-right: 12px;
}
.ml-auto .dropdown-menu {
  border:none;
  border-radius: 0;
  position: relative;
  padding: 0.3rem 0 0.5rem;
  box-shadow: 0 3px 5px 0px rgba(190, 195, 198, 0.36);
  margin-top:20px;
}
.ml-auto .dropdown-menu a{
  font-size: 18px;
}
.ml-auto .dropdown-menu:before{
  content: '';
  position: absolute;
  border-top: 0;
  border-bottom: 6px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: -5px;
  width: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.ml-auto .dropdown-item:focus, .ml-auto .dropdown-item:hover{
  background-color: #49e1cd;
  color:#fff;
  outline-color: transparent;
}
.ml-auto .dropdown-menu:before {
  right: 25px;
  margin: 0;
  left: auto;
}
.orng-btn{
  background-color: #49e1cd;
  color: #fff;
  outline-color: transparent;
}
.ml-auto .dropdown-item.orng-btn:hover{
  outline-color: transparent;
  box-shadow: 0 0 5px 0 #f7901e;
  background-color: #f7901e;
}
.nav-profile-card img {
  width: 30px;
  box-shadow: 0 0 10px 1px rgba(154, 154, 153, 0.43);
}
.nav-profile-card span{
  margin-left: 15px;
}
.exchanges-list .card-header:focus, .exchanges-list .card-header-tabs:focus,
.deals-list .card-header:focus, .deals-list .card-header-tabs:focus,
.suggestions-list .card-header:focus, .suggestions-list .card-header:focus{
  color:#333;
  border-bottom: 2px solid #49e1cd;
}
.exchanges-list .card-header a{
  border: none;
}
.exchanges-list .card-header a.active, .exchanges-list .card-header a:hover,
.deals-list .card-header a.active, .deals-list .card-header a:hover,
.suggestions-list .card-header a.active, .suggestions-list .card-header a:hover{
  border-color: #49e1cd;
  border-bottom: 2px solid #49e1cd;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
.exchanges-list table,
.deals-list table,
.suggestions-list table{
  background-color: #fff;
  color:#333;
  box-shadow: 0 0 20px -5px;
}
.exchanges-list table thead tr,
.deals-list table thead tr,
.suggestions-list table thead tr{
  background-color: #49e1cd;
  color: #fff;
}

#wel-top.welcome {
  background: url(../images/welcome-bg.jpg) no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  padding: 55px 0;
}
.wel-inner {
  background: #fff;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.wel-inner > h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.loader-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
}
div.rating label, .review span{
  background: url(../images/rating-star.png);
}
.review span{
  float: left;
  width: 20px;
  height: 20px;    
  background-size: contain;
  background-repeat: no-repeat;
}
.review p{
  clear:both;
}
.review div{
  float: left;
  margin-left: 5px;
}
.img-tab label span{
  font-size: 1.75rem;
}
.bg-right-top{
  position: relative;
  background: linear-gradient(90deg, #ffffff00 calc(100% - 231px), #20c69b 0%) 0px 392px no-repeat / 100% 100%, url(../images/about/sec-1-bg.png) no-repeat right top / 724px auto;
  position: relative;
}
#sec-2{
  background: url(../images/about/left-side-bg.png) no-repeat left bottom;
  background-size: auto 450px;
  z-index: 500;
  position: relative;
  padding-bottom: 385px;
}
.phone-icon{
  background: url(../images/about/phone-icon.png) no-repeat 0 0;
}
.how-it-works-img {
  background:url(../images/about/scheme.png) no-repeat 35% 50%;
}
#sec-4{
  background: url(../images/about/video-bg.jpg) no-repeat left bottom;
  padding: 19px 0 50px;
  background-size: cover;
  clear: both;
  margin: 40px 0;
}
#sec-4 .tabs li:before{
  content: '';
  position: absolute;
  background: url(../images/about/about-tabs-sprite.png) no-repeat;
  background-size: cover;
  left: 0;
}
#sec-4 .share .btn-link{
  color:#fff;
  font-size: 20px;
}
#sec-4 .share .dropdown-toggle::after{
  border:none;
}
#sec-4 .share .btn-link-custom:hover{

}
/**
* Media query
*/
@media (max-width: 767px){
  .how-it-works-img{
    background-position: left center;
  }
}
@media (min-width: 768px) {
  .navbar-nav > li .btn-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media(min-width: 768px) and (max-width: 991px){
  .bg-right-top{
    background: linear-gradient(90deg, #ffffff00 calc(100% - 126px), #20c69b 0%) 0px 297px no-repeat / 100% 100%, url(/javascripts/sec-1-bg.png?29a7e28…) no-repeat right top / 492px auto;
  }
}
@media (min-width: 1250px){
  .how-it-works-img {
    background:url(../images/about/scheme.png) no-repeat 45% 50%;
  }
}
